<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>会员管理</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/nav.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/pages/member.css">
    <script src="/static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
	#set($user=$session.getAttribute("USERS")) 
<div class="doc" id="doc">
<div class="topbar" id="topbar">
    <div class="layout">
        <div class="grid">
            <div class="mod-toolbar">
                <p><i class="icon-user"></i><span class="user-name">${user.userName}</span>欢迎来到监控宝!<a href="/user/loginout.do" target="_self" class="login">[退出]</a></p>
            </div>
        </div>
    </div>
</div>
<div class="header" id="header">
    <div class="layout">
        <div class="grid">
            <div class="mod-masthead">
                <a href="/index.do"><img src="/static/img/logo.png" width="312" height="80"/></a>
            </div>
        </div>
    </div>
</div>
<div class="content" id="content">
<div class="layout layout-nav">
    <div class="grid">
        <div class="mod-nav" id="mod-nav">
            <div class="content">
                <ul>
                    <li class="">
                        <a href="/index.do" target="_self">概述</a>
                    </li>
                    <li>
                        <a href="/monitor/monitor-manage.do" target="_self">监控项目</a>
                    </li>
                    <li>
                        <a href="/warn/warn-manager.do" target="_self">告警</a>
                    </li>
                    <li class="active">
                        <a href="/user/infomanager.do" target="_self">设置</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="layout">
    <div class="grid">
        <div class="grid-sub">
            <div class="mod-side-nav">
                <div class="content">
                    <ul>
                        <li>
                            <a href="/user/infomanager.do" >
                                    修改密码
                            </a>
                        </li>
                        #if(${user.userRole}==1)
                            <li>
                                <a href="/user/member-manage.do" class="active">会员管理</a>
                            </li>
						#end
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-main">
            <div class="wrap clearfix">
                <div class="mod-member-manage">
                    <div class="header">
                        <form class="form-inline" action="/user/member-manage.do">
                            <label class="control-label">请输入姓名：</label>
								#if(!${searchName})
									<input type="text" id="searchName" name="searchName" class="input" placeholder="请输入姓名">
								#else
									<input type="text" id="searchName" name="searchName" class="input" value="${searchName}">
								#end
                            <span class="help-inline">请输入账号：</span>
								#if(!${searchCount})
									<input type="text" id="searchCount" name="searchCount" class="input" placeholder="请输入账号">
								#else
									<input type="text" id="searchCount" name="searchCount" class="input" value="${searchCount}">
								#end
                            <button type="submit" class="btn btn-primary">查看</button>
							<a class="btn btn-warning" href="/user/add-member-index.do" target="_self"><i class="icon-plus icon-white"></i>新增会员</a>
                        </form>
                    </div>
                    <div class="content">
                          <table class="ui-table">
                              <thead>
                                <tr>
                                    <th class="account">
                                        会员账号
                                    </th>
                                    <th class="name">
                                        会员姓名
                                    </th>
                                    <th class="role">
                                        会员角色
                                    </th>
                                    <th class="opration">
                                        操作
                                    </th>
                                </tr>
                              </thead>
							  #if(${res.size()}>0)
                              <tbody>
                                #foreach($member in $res)
									<tr>
										<td>${member.userCount}</td>
										<td>${member.userName}</td>
										<td>
											#if(${member.userRole}==1)
												管理员
											#else
												普通用户
											#end
										</td>
										<td>
											<a href="/user/infomanager.do?userId=${member.userId}&userName=${member.userName}">修改</a>
											<a href="javascript:if(confirm('确认删除吗?'))window.location='/user/delete.do?userId=${member.userId}'" class="btn-del">删除</a>
										</td>
                                </tr>
								#end              
                              </tbody>
							  #end
                          </table>
                    </div>
                </div>
				
				#if(${res.size()}==0)
				<div class="mod-no-result">
                    <div class="content">
                        <p class="no-result">抱歉！无符合条件的查询结果。请修改查询条件，重新搜索！</p>
                    </div>
                </div>

				#else

                <!--mod-page start--->
                <div class="mod-pages">
                    <div class="content">

                        <div class="pagination pagination-large pagination-right">
                            <ul>
                                
                                <li><a href="/user/member-manage.do?currentPage=${prePage}&searchName=${searchName}&searchCount=${searchCount}" target="_self">«</a></li>
								#set($nums=[${start} .. ${end}])
								#foreach($i in $nums)
									#if ($i==${currentPage})
										<li class="active"><a target="_self">$i</a></li>
									#else
										<li><a href="/user/member-manage.do?currentPage=$i&searchName=${searchName}&searchCount=${searchCount}">$i</a></li>
									#end
								#end
								<li><a href="/user/member-manage.do?currentPage=${nextPage}&searchName=${searchName}&searchCount=${searchCount}">»</a></li>
                                
                               
                            </ul>
                        </div>
                    </div>
                </div>
				#end
                <!--mod-page end -->


            </div>
        </div>

    </div>
</div>

</div>

<div class="footer clearfix" id="footer">
    <div class="layout">
        <div class="grid">
            <div class="mod-footer">
                <div class="content">
                    <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="/static/js/pages/member.js"></script>
</body>
</html>