<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>会员设置</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/nav.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/pages/set.css">
    <script src="/static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
	#set($user=$session.getAttribute("USERS")) 
    <div class="doc" id="doc">
        <div class="topbar" id="topbar">
              <div class="layout">
                    <div class="grid">
                         <div class="mod-toolbar">
                             <p><i class="icon-user"></i><span class="user-name">${user.userName}</span>欢迎来到监控宝!<a href="/user/loginout.do" target="_self" class="login">[退出]</a></p>
                         </div>
                    </div>
              </div>
          </div>
    <div class="header" id="header">
        <div class="layout">
            <div class="grid">
                <div class="mod-masthead">
                    <a href="/index.do"><img src="/static/img/logo.png" width="312" height="80"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content">
    <div class="layout layout-nav">
        <div class="grid">
            <div class="mod-nav" id="mod-nav">
                <div class="content">
                    <ul>
                        <li class="">
                            <a href="/index.do" target="_self">概述</a>
                        </li>
                        <li>
                            <a href="/monitor/monitor-manage.do" target="_self">监控项目</a>
                        </li>
                        <li>
                            <a href="/warn/warn-manager.do" target="_self">告警</a>
                        </li>
                        <li class="active">
                            <a href="/user/infomanager.do" target="_self">设置</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="layout">
        <div class="grid">
            <div class="grid-sub">
                <div class="mod-side-nav">
                    <div class="content">
                        <ul>
                            <li>
                                <a href="/user/infomanager.do" class="active">
                                    修改密码
                                </a>
                            </li>
							#if(${user.userRole}==1)
                            <li>
                                <a href="/user/member-manage.do">会员管理</a>
                            </li>
							#end
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-main">
                <div class="wrap clearfix">
                    <div class="mod-set">
                        <div class="header">
                            <h2>修改密码----会员名:${userName}</h2>
                        </div>
                        <div class="content">
                            <form class="form-horizontal" id="password-form" method="post" action="/user/modifyPassword.do">
								<input type="text" id="userId" name="userId" value="${user.userId}" class="hide"/>
								#if (!${error})
									#if (${modifyStatus})
    									<div class="control-group" id="label-error-div">
    										<label class="control-label" for="oldPassowrd"></label>
    										<span class="label label-important label-error" ><i class=" icon-white"></i><span class="info">密码修改成功</span></span>
    									</div>
									#end
								#else
									<div class="control-group" id="label-error-div">
										<label class="control-label" for="oldPassowrd"></label>
										<span class="label label-important label-error"><i class=" icon-remove icon-white"></i><span class="info">密码验证出错，请重新输入</span></span>
									</div>
								#end
								
								<div class="control-group " id="label-error-div1">
                                    <label class="control-label" for="oldPassowrd"><span>*</span>旧密码</label>
                                    <div class="controls">
                                        <input type="password" id="oldPassowrd" name="oldPassowrd" placeholder="请输入旧密码"/>
                                        <span class="help-inline hide" id="label-error-box1">请输入密码</span>
                                    </div>
                                </div>
                                <div class="control-group" id="label-error-div2">
                                    <label class="control-label" for="newPassowrd"><span>*</span>新密码</label>
                                    <div class="controls">
                                        <input type="password" id="newPassowrd" name="newPassowrd" placeholder="请输入新密码"/>
										<span class="help-inline hide" id="label-error-box2">请输入密码</span>
                                    </div>
                                </div>
                                <div class="control-group" id="label-error-div3">
                                    <label class="control-label" for="newPassowrd2"><span>*</span>确认密码</label>
                                    <div class="controls">
                                        <input type="password" id="newPassowrd2" name="newPassowrd2" placeholder="请输入确认密码"/>
										<span class="help-inline hide" id="label-error-box3">请输入密码</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-primary">修改密码</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                     </div>
    
    
                </div>
            </div>
    
        </div>
    </div>
    
    </div>
    
    <div class="footer clearfix" id="footer">
        <div class="layout">
            <div class="grid">
                <div class="mod-footer">
                    <div class="content">
                        <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    <script src="/static/js/pages/set.js"></script>
    </body>
</html>