<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>监控明细</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/nav.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/module/pages.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/plugins/jquery-ui-1.10.3.custom/css/jquery-ui.css">
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/pages/jiankong.css">
    <script src="/static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
	#set($user=$session.getAttribute("USERS")) 
     <div class="doc" id="doc">
          <div class="topbar" id="topbar">
              <div class="layout">
                    <div class="grid">
                         <div class="mod-toolbar">
                             <p><i class="icon-user"></i><span class="user-name">${user.userName}</span>欢迎来到监控宝!<a href="/user/loginout.do" target="_self" class="login">[退出]</a></p>
                         </div>
                    </div>
              </div>
          </div>
          <div class="header" id="header">
              <div class="layout">
                  <div class="grid">
                      <div class="mod-masthead">
                          <a href="/index.do"><img src="/static/img/logo.png" width="312" height="80"/></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="content" id="content">
               <div class="layout layout-nav">
                   <div class="grid">
                       <div class="mod-nav" id="mod-nav">
                            <div class="content">
                                <ul>
                                    <li>
										<a href="/index.do" target="_self">概述</a>
                                    </li>
                                    <li class="active">
                                        <a href="/monitor/monitor-manage.do" target="_self">监控项目</a>
                                    </li>
                                    <li>
                                        <a href="/warn/warn-manager.do" target="_self">告警</a>
                                    </li>
                                    <li >
                                        <a href="/user/infomanager.do" target="_self">设置</a>
                                    </li>
                                </ul>
                            </div>
                       </div>
                   </div>
               </div>
               <div class="layout">
                   <div class="grid">
                        <div class="mod-breadcrumb">
                            <ul class="breadcrumb">
                                <li>${monitor.monitorName}监控-监控明细</li>
                            </ul>
                            <div class="action hide">
                                <a class="btn btn-primary" href="" target="_self"><i class="icon-plus icon-white"></i>监控项目</a>
                            </div>
                        </div>
                   </div>
               </div>
              <div class="layout">
                  <div class="grid">
                      <div class="mod-monitor-detail">
                           <div class="header">
                               <form class="form-horizontal form-monitor-detail" method="post" action="/monitor/monitor-dingdan-view.do?monitor_id=${monitor.monitorId}"">
                                   <div class="control-group control-group-kpi">
                                       <label class="control-label control-label-left" for="">请选择监控指标：</label>
                                       <div class="controls">
										#foreach($indexId in $!monitor.getMonitorIndexSet())
											#if($indexId==1)
												<label class="radio inline">
                                                   <input type="radio" value="1" name="currentIndex" #if(${currentIndex}==1)checked#end>
														分仓SKU各仓库订单量
                                               	</label>
											#elseif($indexId==2)
												<label class="radio inline">
                                                    <input type="radio" value="2" name="currentIndex" #if(${currentIndex}==2)checked#end>
                                                       分仓SKU各仓库库存量
                                                </label>
											#elseif ($indexId==3)
												<label class="radio inline">
                                                   <input type="radio" value="3" name="currentIndex" #if(${currentIndex}==3)checked#end>
                                                   SKU订单来源的区域分布
                                               </label>
										    #else 
												<label class="radio inline">
                                                   <input type="radio" value="4" name="currentIndex" #if(${currentIndex}==4)checked#end>
                                                   SKU关联销售占比情况
                                               </label>
											#end
										#end
                                       </div>
                                   </div>
								   #if(${currentIndex}!=2)
                                   <div class="control-group control-group-other">
                                       <label class="control-label control-label-left">请选择分仓SKU：</label>
                                       <div class="controls">
                                           <select class="select-sku" name="currentSku" id="currentSku">
											#foreach($sku in $!monitor.getMonitorSkus())
												<option value="$sku" #if($sku==$currentSku) selected #end>$sku</option>
											#end
                                           </select>
                                           <span class="help-inline" style="margin-left:10px;">选择日期：</span>
                                           <div class="input-append inline" style="margin-left:10px;">
                                               <input size="16" type="text" id="startTime" name="startTime"  value="${startTime}" style="width:100px"/>
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           <span class="help-inline" style="margin-left:10px;">至</span>
                                           <div class="input-append inline" style="margin-left:10px;">
                                               <input size="16" type="text" id="endTime" name="endTime"  value="${endTime}" style="width:100px"/>
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           <button type="submit" class="btn btn-primary" style="margin-left:10px;">查看</button>
                                           <a class="btn btn-success" href="${currentExcelFile}">导出</a>
                                       </div>
                                   </div>
								   #else
									<div class="control-group control-group-other">
                                       <label class="control-label control-label-left">请选择分仓SKU：</label>
                                       <div class="controls">
                                           <select class="select-sku" name="currentSku" id="currentSku">
											#foreach($sku in $!monitor.getMonitorSkus())
												<option value="$sku" #if($sku==$currentSku) selected #end>$sku</option>
											#end
                                           </select>
                                           <span class="help-inline" style="margin-left:10px;">选择日期：</span>
                                           <div class="input-append inline" style="margin-left:10px;"> 
                                               <input size="16" type="text" id="startTime" name="startTime"  value="${startTime}" style="width:100px"/>
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           <span class="help-inline" style="margin-left:10px;">至</span>
                                           <div class="input-append inline" style="margin-left:10px;">
                                               <input size="16" type="text" id="endTime" name="endTime"  value="${endTime}" style="width:100px"/>
                                               <span class="add-on"><i class="icon-calendar"></i></span>
                                           </div>
                                           
                                       </div>
                                   </div>
								   <div class="control-group control-group-other" >
                                       <label class="control-label control-label-left">请选择仓库：</label>
                                       <div class="controls">
                                           <select class="select-sku" name="wareHouseCode" id="wareHouseCode">
											#foreach($wareHouse in ${wareHouses})
												<option value="${wareHouse.wareHouseCode}#${wareHouse.wareHouseName}" #if(${wareHouse.wareHouseCode}==${currentWareHouseCode}) selected #end>${wareHouse.wareHouseName}</option>
											#end
                                           </select>
										   <button type="submit" class="btn btn-primary" style="margin-left:10px;">查看</button>
										   <a class="btn btn-success" href="${currentExcelFile}">导出</a>
									   </div>
								   </div>
								   #end
                               </form>
                           </div>
						   #if($currentIndex!=3)
                           <div class="content">
                               <div class="chart" id="chart" data-url="${currentFilePath}">
                               </div>
                           </div>
						   #else
    						   <div class="content">
                                   <div class="wrap wrap-laiyuan">
                                       <iframe frameborder="0" height="700" marginheight="0" marginwidth="0" scrolling="no" width="990" src="/monitor/map.do?mapFile=${mapFile}&totalCount=${totalCount}&startTime=${startTime}&endTime=${endTime}&skuCode=${currentSku}">
									   </iframe>
                                   </div>
                               </div>
						   #end
                      </div>
                  </div>
              </div>

          </div>

          <div class="footer clearfix" id="footer">
                <div class="layout">
                    <div class="grid">
                        <div class="mod-footer">
                            <div class="content">
                                <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
     </div>

     <script src="/static/plugins/highcharts/highcharts.js"></script>
     <script src="/static/plugins/highcharts/modules/exporting.js"></script>
     <script src="/static/plugins/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
	 <script src="/static/js/pages/jiankong.js"></script>
</body>
</html>